<footer class="main-footer">
    <strong>Developed by PHD <a href="https://www.facebook.com/dungphamno1">|| Contact me</a>.</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 2.0.0
    </div>
  </footer>