<!DOCTYPE html>
<html>
<% include layout/_head %>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    <!-- Navbar -->
    <% include layout/_navbar %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%include layout/_mainSidebar %>

    <!-- Content Wrapper. Contains page content -->
    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <% include layout/_footer %>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  <% include layout/_defaultScript %>
  <script src="javascripts/_User.js"></script>

</body>

</html>