<!DOCTYPE html>
<html>
<% include(Head.ejs) %>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    <!-- Navbar -->
    <% include (Navbar.ejs) %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%include layout/MainSidebar %>

    <!-- Content Wrapper. Contains page content -->

    <!-- /.content -->

    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Trang quản lý trường THPT Đông Hiếu</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">admin</a></li>
                <li class="breadcrumb-item active">index</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <section class="content">
        <div class="container-fluid">
          <div class="card">
            <img src="/images/bg.jpg" alt="">
          </div>
        </div>
      </section>
    </div>

  </div>

  <!-- /.content-wrapper -->

  <% include layout/Footer %>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  <% include layout/DefaultScript %>
  <script src="javascripts/_User.js"></script>

</body>

</html>