<!DOCTYPE html>
<html>
<% include layout/Head %>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <% include layout/Navbar %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%include layout/MainSidebar %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Quản lý học sinh</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">SubjectManager</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="my-select">Lọc theo lớp học</label>
                                    <select id="fillerL" class="form-control">
                                        <option value=1>Chọn</option>
                                        <% Lop.map((element,index)=>{ %>
                                        <option value="<%= element._id %>"><%= element.tenLop%></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="my-select">Lọc theo Môn học</label>
                                    <select id="fillerMH" class="form-control">
                                        <option value=1>Chọn</option>
                                        <% MonHoc.map((element,index)=>{ %>
                                        <option value="<%= element._id %>"><%= element.tenMonHoc%></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="tblresult" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>ID</th>
                                        <th>Học sinh id</th>
                                        <th>Họ</th>
                                        <th>Tên</th>
                                        <th>Môn học id</th>
                                        <th colspan="3">Điểm 15'</th>
                                        <th colspan="3">Điểm 1 tiết</th>
                                        <th>Điểm HK</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary" id="btnAutoCreat" name="btnAdd">
                                    <i class="fa fa-plus"></i>&nbsp; Tạo bảng điểm</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <% include layout/Footer %>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- The modal create -->
    <div class="modal fade" id="appConfirm">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h5></h5>
                    <form method="post" class="form-horizontal" id="frmCreate">
                        <input type="hidden" id="Lop" name="Lop_idLop">
                        <input type="hidden" id="MonHoc" name="MonHoc_idMonHoc">
                        
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success" form="frmDelete" id="btnSubmitConfirm">Đồng ý</button>
                </div>

            </div>
        </div>
    </div>
    <!-- The modal create -->

    <!-- The Modal update -->
    <div class="modal fade" id="updatemodal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Quản lý điểm</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form role="form" id="frmPut" method="PUT">
                        <input type="hidden" class="form-control" id="IDu" name="IDu">
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label for="hoHS">Họ</label>
                                    <p id="hoHS"></p>
                                </div>
                                <div class="col-md-6">
                                    <label for="tenHS">Tên</label>
                                    <p id="tenHS"></p>
                                </div>
                            </div>
                            <fieldset>
                                <div class="row form-group panel panel-info">
                                    <legend>Điểm 15':</legend>
                                    <div class="col-sm-4">
                                        <label for="diem15_lan1">Lần 1</label>
                                        <input type="number" step="0.01" min="0" max="10" id='diem15_lan1' name="diem15_lan1" class="form-control"
                                            placeholder="0.0" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="diem15_lan2">Lần 2</label>
                                        <input type="number" step="0.01" min="0" max="10" id='diem15_lan2' name="diem15_lan2" class="form-control"
                                            placeholder="0.0" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="diem15_lan3">Lần 3</label>
                                        <input type="number" step="0.01" min="0" max="10" id='diem15_lan3' name="diem15_lan3" class="form-control"
                                            placeholder="0.0" />
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="row form-group panel panel-info">
                                    <legend>Điểm 1 tiết:</legend>
                                    <div class="col-sm-4">
                                        <label for="diem1tiet_lan1">Lần 1</label>
                                        <input type="number" step="0.01" min="0" max="10" id='diem1tiet_lan1' name="diem1tiet_lan1" class="form-control"
                                            placeholder="0.0" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="diem1tiet_lan2">Lần 2</label>
                                        <input type="number" step="0.01" min="0" max="10" id='diem1tiet_lan2' name="diem1tiet_lan2" class="form-control"
                                            placeholder="0.0" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="diem1tiet_lan3">Lần 3</label>
                                        <input type="number" step="0.01" min="0" max="10" id='diem1tiet_lan3' name="diem1tiet_lan3" class="form-control"
                                            placeholder="0.0" />
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="row form-group panel panel-info">
                                    <legend>Điểm thi học kỳ:</legend>
                                    <div class="col-sm-4">
                                        <label for="diemThiHK">Điểm thi</label>
                                        <input type="number" step="0.01" min="0" max="10" id='diemThiHK' name="diemThiHK" class="form-control"
                                            placeholder="0.0" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" form="frmPut" id="btnSubmitDetail">Cập nhật</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <% include layout/DefaultScript %>
    <script src="MyJavaScript/QuanLyDiem.js"></script>

</body>

</html>