<!DOCTYPE html>
<html>
<% include layout/_head %>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <% include layout/_navbar %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%include layout/_mainSidebar %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Quản lý học sinh</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">SubjectManager</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header row">
                        </div>
                        <div class="card-body">
                            <table id="tblresult" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>ID</th>
                                        <th>Họ</th>
                                        <th>Tên</th>
                                        <th>Ngày sinh</th>
                                        <th>ID_User</th>
                                        <th>Địa chỉ</th>
                                        <th>ID_Class</th>
                                        <th>Lớp</th>
                                        <th>Điểm HS1</th>
                                        <th>Điểm HS2</th>
                                        <th>Điểm HS3</th>
                                        <th>ID_subject</th>
                                        <th>Tên môn học</th>
                                        <th>Trạng thái</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary" id="btnAdd" name="btnAdd"><i
                                        class="fa fa-plus"></i>&nbsp; Thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <% include layout/_footer %>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- The Modal appConfirm-->
    <div class="modal fade" id="appConfirm">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h5></h5>
                    <form method="post" class="form-horizontal" id="frmDelete">
                        <input type="hidden" id="ID" name="ID">
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success" form="frmDelete" id="btnSubmitConfirm">Xóa</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal edit -->
    <div class="modal fade" id="editmodal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Học sinh</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form role="form" id="frmPost" method="post">
                        <input type="hidden" class="form-control" id="IDp" name="IDp">
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label for="FirstName">Họ</label>
                                    <input type="text" class="form-control" id="FirstName" name="FirstName"
                                        placeholder="Họ...">
                                </div>
                                <div class="col-md-6">
                                    <label for="LastName">Tên</label>
                                    <input type="text" class="form-control" id="LastName" name="LastName"
                                        placeholder="Tên...">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label for="Birthday">Ngày sinh</label>
                                    <input type='date' id='Birthday' name="Birthday" class="form-control" placeholder="Ngày sinh"/>
                                </div>
                                <div class="col-sm-6">
                                    <label for="Address">Địa chỉ</label>
                                    <input type='text' id='Address' name="Address" class="form-control" placeholder="Địa chỉ"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="HS1">Điểm HS1</label>
                                    <input type='text' id='HS1' name="HS1" class="form-control" placeholder="Điểm HS1"/>
                                </div>
                                <div class="col-sm-3">
                                    <label for="HS2">Điểm HS2</label>
                                    <input type='text' id='HS2' name="HS2" class="form-control" placeholder="Điểm HS2"/>
                                </div>
                                <div class="col-sm-3">
                                    <label for="HS3">Điểm HS3</label>
                                    <input type='text' id='HS3' name="HS3" class="form-control" placeholder="Điểm HS3"/>
                                </div>
                                <div class="col-md-3">
                                    <label for="Status">Chọn trạng thái</label>
                                    <select name="Status" id="Status" class="form-control">
                                        <option value="1">Hoạt động</option>
                                        <option value="0" selected>Không hoạt động</option>
                                    </select>
                                </div>
                            </div>
                    </form>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" form="frmPost" id="btnSubmitDetail">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- jQuery -->
    <% include layout/_defaultScript %>
    <script src="MyJavaScript/QuanLyHocSinh.js"></script>

</body>

</html>